body {
    margin: 0;
    height: 100vh;

    font: 16px/1.5 Georgia, "Times New Roman", Times, serif;
    background: radial-gradient(circle, #fffdfd, #dddcdc);
}
.hat {
    font: 19px/1.5 Georgia, "Times New Roman", Times, serif;
    background: linear-gradient(180deg, #dddcdc, #f4f2f2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
}

.toptext {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.navText {
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.navText:hover {
    text-decoration: underline;
    color: forestgreen;
}
.about{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.GetToMainText{
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}
.about {
    width: 60%;
    padding: 5%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: auto;
    min-height: 200px;
}

.about h1 {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    text-align: left;
}
.text{
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    text-align: left;
}
.quote{
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0;
    text-align: right;
}
.ItchText{
    text-decoration: underline;
    color: inherit;
    font: inherit;
    cursor: pointer;
}
.ItchText:hover{
    color: forestgreen;
}