body {
    background: radial-gradient(circle, #fffdfd, #dddcdc);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font: 16px/1.5 Georgia, "Times New Roman", Times, serif;
}

.hat {
    font: 19px/1.5 Georgia, "Times New Roman", Times, serif;
    background: linear-gradient(180deg, #dddcdc, #f4f2f2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.toptext {
    margin-left: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav {
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.navText {
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.navText:hover {
    text-decoration: underline;
    color: forestgreen;
}

.name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnPan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}